build
tests/Output
tests/.lit_test_times.txt
tests/lit.site.cfg.py
llvm-tests/.lit_test_times.txt
llvm-tests/Output/
llvm-tests/lit.site.cfg.py
mlir-tests/.lit_test_times.txt
mlir-tests/Output/
mlir-tests/lit.site.cfg.py
combined-tests/test_app
combined-tests/test_app_orig
testing/fio-lto-optimised/
testing/fio-lto-original/
testing/fio-optimised/
testing/fio-original/
testing/postgres_original
testing/postgres_lto_original
testing/postgres_optimised
testing/postgres_lto_optimised
testing/postgresql-*
*~
